*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: azure;
}
.container{
    width: 900px;
    height: 500px;
    background-color: midnightblue;
    margin: 100px auto 0;
    border-radius: 5px;
    display: flex;
    /* flex-direction: row;
    flex-direction: column; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around; */
    justify-content: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    flex-wrap: wrap;
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    align-content: center;

}
.item{
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}