div {
  width: 400px;
  height: 400px;
  background-color: crimson;
  /* middle position  */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* transform: rotate(50deg); */
  /* transform: scale(1.5); */
  /* transform: scale(1.5); */
  /* transform: skew(30deg); */
  /* transform: translateX(100px); */
  /* transform: translateY(100px); */
  transform: translate(100px,100px);
}