p {
  color: white;
  background-color: black;
  height: 100px;
  width: 50%;
  /*margin: 100px; four sides*/
  /*margin: 100px 10px; top-bottom left-right; */
  /* margin: 200px 100px 300px 50px; top-right-bottom-left  */
  margin: 50px;
  padding: 20px;
  border: 2px solid lightblue;
  border-radius: 10px;
}
